services:
  - type: web
    name: social-media-backend
    env: python
    buildCommand: "pip install -r Main/BackEnd/requirements.txt && python Main/BackEnd/manage.py collectstatic --noinput && python Main/BackEnd/manage.py migrate"
    startCommand: "gunicorn Main.BackEnd.backend.wsgi:application"
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 1
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "socialmedia-backend-ipwx.onrender.com,localhost,127.0.0.1"

    autoDeploy: true
    healthCheckPath: /api/

  - type: web
    name: social-media-frontend
    env: static
    buildCommand: "cd Main/FrontEnd && npm install && npm run build"
    staticPublishPath: "Main/FrontEnd/dist"
    envVars:
      - key: VITE_API_BASE_URL
        value: "https://social-media-backend-ipwx.onrender.com"
    headers:
      - path: "*.css"
        name: Content-Type
        value: text/css
    routes:
      - type: rewrite
        source: "/*"
        destination: "/index.html"

databases:
  - name: social-media-db
    databaseName: social_media_db
    plan: free
